@charset "UTF-8";



body{
    font-family: "Google Sans Flex";
    background-image: radial-gradient(circle,#B75900 20%, #853300, #853300, #80570c);
    background-attachment: fixed;
}

h1{
    font-family: 'protesto';
    text-align: center;
    text-shadow:10px 10px 30px #683200;
    color: rgb(255, 145, 0);
}

p{
    text-align: justify;
}


h2{
    font-family: 'vogue';
}


a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
a:active{
    color: blue;
}

.h02{
    font-family: 'protesto';
    color: #683200;
}

.h03{
    
    font-family: 'protesto';
    color: #cf6400;
}



main{
    background-color: rgb(255, 254, 253);
    border-radius: 10px;
    box-shadow: 10px 10px 30px #ff6200 ;
    width:650px;
    padding: 10px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@font-face {
    font-family: 'protesto';
    src: url(protest/Protest\ Demo.ttf) format('truetype');
}
